.no-internet{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
}
.no-internet-heading{
    font-size: 29px;
    font-weight: 700;
    color: #F44336;
    margin: 13px;
}
.no-internet-title{
    font-size: 20px;
    background: aliceblue;
    padding: 14px;
    border-radius: 19px;
    font-weight: 600;

}
.no-internet-retry-btn{
    outline: none;
    border: none;
    padding: 12px 10px;
    min-width: 200px;
    background: #000;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    box-sizing: border-box;
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
}